/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
https://stanhub.com/scroll-to-top-then-fixed-navigation-effect-with-jquery-and-css-free-download/
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stan Kostadinov
Author URI: https://stanhub.com
Version: 1.0.0 - 11.01.2014
*/

* {margin: 0; padding: 0;}

a {text-decoration: none;}


body {
	color: #fff;
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
	text-align: center;
    display:flex;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
    display: flex;
    justify-content: center;
}
ul{
    justify-content: space-around;
}
nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
	padding: 10px;
}
/* 

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

} */

#login{
    align-items: flex-end;
}

#login{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#login:hover{
	background-color: rgb(244, 226, 226);
	color: black;
}

nav li a:hover{
	background-color: whitesmoke;
	/* padding: 10px; */
	border-radius: 20px;
	color: black;
}