<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="toDoList">To-Do List</a></li>
        <li><a href="habit">Habit Tracker</a></li>
        <li><a href="journal">Journal</a></li>
        <li><a href="contactUs">About Us</a></li> 
        <!-- <li><a href="user-details" *ngIf="isAdmin" >User details</a></li> -->
        <li><a href="login" id="login" *ngIf="isAdmin" >Profile</a></li>
        <!-- <li><a  *ngIf="isAdmin" (click)="logout()">LogOut</a></li> -->
        <!-- <li>{{(adminService.isAdminSubject)}}</li> -->
    </ul>
</nav>


